<div class="jumbotron">
    <h1>Home Rental Website Welcoming you</h1>
    <p class="lead"> Welcome to Home Rentals</p>
  
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Home Rental</h2>
        <p>Simple Portal Showing about the houses</p>
      
    </div>
    <div class="col-md-4">
        <h2>About Rentals</h2>
        <p> Home are showing from databse that have been inserted by admin in the database</p>
       
    </div>
   
</div>
