
@{
    ViewBag.Title = "right";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("CustomerRecord","Customer")" class="btn btn-warning">View Customer Record </a><br />

            <a href="@Url.Action("HouseRecord","House")" class="btn btn-warning">House Record </a><br />

            <a href="@Url.Action("ContactRecord","Home")" class="btn btn-warning">Query Record </a><br />

        </div>

    </div>


</div>

